/* You can add global styles to this file, and also import other style files */
i {
  margin: 0 5px;
}

.favorite {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  position: relative;
  width: 300px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
