@charset "UTF-8";
/*-----Font-Family-----*/
/*-----Font-Size-----*/
.contact, .logo, .head-nav, .banner-relative .banner-absolute, .list-logo li, .copyright, .listbox {
  display: flex;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

.container {
  padding: 0 182px; }

body {
  font-family: "utm-avo", Helvetica, sans-serif; }

a {
  text-decoration: none; }

.clr:after {
  content: "";
  clear: both;
  display: block; }

ul {
  list-style-position: inside; }

.float-r {
  float: right; }

.img-100 {
  width: 100%; }

@font-face {
  font-family: "utm-avo";
  src: url("./../font/utm-avo.woff") format("woff");
  src: url("./../font/utm-avo.woff") format("truetype"); }
@font-face {
  font-family: "utm-avo-bold";
  src: url("./../font/utm-avobold.woff") format("woff"), url("./../font/utm-avobold.woff") format("truetype"); }
.header-health {
  width: 100%; }

.contact {
  width: 326px;
  font-family: Arial; }
  .contact span {
    font-style: normal;
    font-size: 19px;
    color: #4cc1fc; }
    .contact span:before {
      content: "\00a0"; }
  .contact img {
    margin-right: 2%; }
  .contact p {
    width: 100%;
    color: #999999;
    font-style: italic;
    font-size: 14px; }

.head-logo {
  display: flex;
  justify-content: space-between;
  padding: 10px 179px 16px 179px; }

.logo img {
  margin-right: 2%; }

.header-navbar {
  overflow: hidden;
  list-style-type: none; }
  .header-navbar li {
    font-size: 12px;
    padding: 10px 0 8px 10px;
    border-left: solid 1px #b3b3b3;
    float: left;
    margin: 0; }
    .header-navbar li:first-child {
      border-left: 0; }
  .header-navbar a {
    display: block;
    color: #b3b3b3;
    text-align: center;
    padding: 14px 16px; }

.title {
  margin-left: 13px;
  width: 18em; }
  .title h3 {
    font-size: 20px;
    color: #0d1d25;
    font-family: "utm-avo-bold";
    text-transform: uppercase; }
  .title p {
    color: #0d1d25; }

.head-nav {
  padding: 0 182px 0 182px;
  border-top: solid 1px #b3b3b3; }
  .head-nav nav {
    margin-right: auto; }
  .head-nav a:hover {
    color: #62c6f8; }

header a:hover {
  color: #62c6f8; }

.banner-relative {
  position: relative; }
  .banner-relative .banner-absolute {
    position: absolute;
    padding-left: 180px;
    top: 0;
    height: 100%; }

.banner img {
  width: 100%; }
.banner a {
  font-size: 12px;
  color: #000000; }

.page {
  padding-top: 70px;
  margin-bottom: 20px; }

.list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 923px; }

.content {
  width: 300px;
  border: solid 1px #d9d9d9;
  margin-bottom: 20px; }
  .content p {
    font-size: 13px;
    margin-bottom: 25px; }
    .content p:first-child {
      text-transform: uppercase;
      font-size: 1rem;
      font-family: "utm-avo-bold";
      margin: 7px 0; }
  .content .content-item {
    width: 250px;
    margin: auto; }

.breadcrumb-item:before {
  color: #000000;
  content: "\00a0/\00a0";
  margin: 0 10px; }

.footer {
  background-color: #62c6f8;
  color: #ffffff; }
  .footer li {
    font-size: 12px;
    margin-bottom: 10px; }

.list-info h3 {
  font-family: "utm-avo-bold";
  margin-bottom: 17px; }
.list-info a {
  vertical-align: middle; }

.list-logo img {
  margin-right: 6px; }
.list-logo a {
  vertical-align: middle; }

.info {
  display: flex;
  padding-top: 42px;
  padding-bottom: 13px;
  justify-content: space-between;
  text-transform: uppercase; }
  .info a {
    color: #ffffff;
    margin: 0;
    display: inline; }

.footer-bottom {
  border-top: 1px solid #ffffff; }

.copyright {
  color: #ffffff;
  height: 58px;
  font-size: 12px; }
  .copyright p:first-child {
    margin-right: auto; }
  .copyright p:last-child {
    margin-left: 5px;
    color: #7df1cf; }

.page-sidebar {
  float: left;
  width: 290px;
  margin-right: 20px; }

.book-schedule {
  margin-top: 45px;
  padding: 18px;
  background-color: #d9e4e9; }
  .book-schedule h3 {
    text-align: left; }

.book-content h3 {
  font-family: "utm-avo-bold";
  padding-top: 3px;
  font-size: 15px; }

input[type="date"] {
  position: relative; }
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1; }
  input[type="date"]:before {
    font-family: "FontAwesome";
    content: "";
    position: absolute;
    display: block;
    right: 6px;
    color: #999999; }

.listbox-content {
  font-size: 14px; }

.list-item ul {
  padding-left: 17px;
  margin-bottom: 20px; }
.list-item li {
  margin-bottom: 13px;
  font-size: 12px; }
  .list-item li a {
    display: inline;
    margin-left: -6px; }
.list-item a {
  text-align: left;
  color: #000000; }

.listbox {
  background-color: #d9e4e9;
  margin-bottom: 19px;
  padding-left: 15px;
  height: 3em; }

.line {
  background-color: #62c6f8;
  margin: 21px 0 17px 0;
  height: 3px;
  width: 66px; }

form {
  text-align: center; }
  form input {
    margin-bottom: 15px;
    height: 38px;
    width: 100%;
    border: 0; }
  form button {
    width: 125px;
    height: 47px;
    margin-top: 2px;
    font-family: "utm-avo-bold";
    font-size: 14px;
    background-color: #29a329;
    border: 0;
    color: #ffffff; }

.item-link {
  display: block;
  color: #b3b3b3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

/*# sourceMappingURL=style4.css.map */
