.list-content {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.content {
  width: 295px;
  margin-right: 20px;
  border: solid 1px $light-grey2;
  margin-bottom: 25px;
  box-sizing: border-box;
  h3 {
    font-size: 16px;
    margin: 15px 0 7px 0;
  }
  p {
    font-size: $font-md;
    margin-bottom: 25px;
  }
  .content-item {
    width: 250px;
    margin: auto;
  }
}

.breadcrumb-item {
  &:before {
    color: $black;
    content: "\00a0/\00a0";
    margin: 0 10px;
  }
}
