.head-nav {
  @extend %flex-item;
  padding: 0 10%;
  nav {
    margin-right: auto;
  }
}

header a:hover {
  color: $primary;
}

.banner-relative {
  position: relative;
}

.banner-absolute {
  @extend %flex-item;
  position: absolute;
  padding-left: 180px;
  top: 0;
  height: 100%;
}

.banner {
  img {
    width: 100%;
  }
  a {
    color: $black;
  }
}
.page-sidebar {
  margin-right: 2%;
  float: left;
  width: 30%;
}
