@font-face {
  font-family: "utm-avo";
  src: url("font/utm-avo.woff") format("woff");
  src: url("font/utm-avo.woff") format("truetype");
}
@font-face {
  font-family: "utm-avo-bold";
  src: url("font/utm-avobold.woff") format("woff"),
    url("font/utm-avobold.woff") format("truetype");
}
.list-content img {
  width: 100%;
  height: 290px;
}
* {
  margin: 0;
  padding: 0;
}

.clr:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
hr {
  border: 1.5px solid #62c6f8;
  margin: 21px 0 17px 0;
  width: 66px;
}
ul {
  list-style-position: inside;
}
.title {
  width: 18em;
}
.title h3 {
  font-size: 20px;
  color: #0d1d25;
  font-family: "utm-avo-bold";
  text-transform: uppercase;
}
.title p {
  color: #0d1d25;
  font-family: "utm-avo";
}
.cart-detail {
  border: solid 1px #a6a6a6;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
}
.cart-detail a {
  color: #ffffff;
}
.header-health {
  width: 100%;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.breadcrumb__item:before {
  color: black;
  content: "\00a0/\00a0";
  margin: 0 10px;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}
.contact-item p {
  color: #ffffff;
  padding-left: 5px;
}
.contact-item p:nth-child(2) {
  font-size: 19px;
  color: #ffffff;
  padding-left: 5px;
}
.contact-item p:nth-child(2):hover {
  color: #ffff00;
}
.contact img {
  margin-right: 2%;
}
.contact p {
  font-size: 14px;
}

.logo {
  margin: auto;
}
.logo img {
  width: 200px;
  margin-right: 18px;
}
ul {
  margin: 0;
  padding: 0;
}

.header-navbar {
  overflow: hidden;
  list-style-type: none;
}
.header-navbar li {
  font-size: 12px;
  padding: 10px 0 10px 0px;
  float: left;
  margin-right: 5px;
}

.header-navbar a {
  color: #fff;
  background-color: rgb(0, 0, 0);
  border-color: #000000;
  display: block;
  text-align: center;
  padding: 14px 16px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.header-navbar a:hover {
  color: #ffff00;
}
.banner a:hover {
  color: #ffff00;
}
.cart-detail a:hover {
  color: #ffff00;
}
.head-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -4px;
  padding: 0 182px 0 182px;
  border-top: solid 1px #b3b3b3;
  background-color: #000000;
}
header a:hover {
  color: #212121;
}
.banner-relative {
  position: relative;
}
.banner-absolute {
  padding-left: 180px;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.banner img {
  width: 100%;
}

.banner a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  text-align: center;
  padding: 10px 147px 15px 182px;
}
.container h1{
  padding-bottom: 40px;
}
.page-sidebar {
  font-family: "utm-avo";
  float: left;
  width: 23%;
  margin-right: 20px;
}
.copyright {
  padding: 0 5% 0 10%;
}
.copyright p:first-child {
  margin-right: auto;
}
.copyright p:last-child {
  margin-left: 5px;
  color: #7df1cf;
}
.book-schedule {
  margin-top: 45px;
  padding: 18px;
  background-color: #d9e4e9;
}
.book-content h3 {
  font-family: "utm-avo-bold";
  padding-top: 3px;
  font-size: 15px;
}
.book-schedule form {
  text-align: center;
}
.book-schedule form input {
  margin: 0px 0 15px 0;
  height: 38px;
  width: 100%;
  border: 0;
}
.book-schedule h3 {
  text-align: left;
}
input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

form button {
  margin-top: 2px;
  font-family: "utm-avo-bold";
  font-size: 14px;
  width: 125px;
  height: 47px;
  background-color: green;
  border: 0;
  color: white;
}
.list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}
.content {
  width: 295px;
  margin-right: 20px;
  border: solid 1px #d9d9d9;
  margin-bottom: 25px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}
.content h3 {
  font-size: 16px;
  margin: 15px 0 7px 0;
}
.content p {
  font-family: "utm-avo";
  font-size: 20px;
  margin-bottom: 25px;
  color: red;
}
.content_item {
  height: 100px;
  width: 250px;
  margin: auto;
}
img[src="./img/muiten.jpg"] {
  float: right;
}
.img-100 {
  width: 100%;
}
/*-----aside-----*/
.listbox {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  padding-left: 15px;
  background-color: #d9e4e9;
  height: 3em;
}
.listbox-content {
  font-size: 14px;
}
.list-item ul {
  padding-left: 17px;
  margin-bottom: 20px;
}
.list-item li {
  margin-bottom: 13px;
  font-size: 12px;
}
.list-item li a {
  display: inline;
  margin-left: -6px;
}
.list-item a {
  text-align: left;
  color: #ffffff;
}

/* footer */
.footer {
  background-color: #212121;
  color: #ffffff;
}
.footer li {
  font-family: "utm-avo";
  font-size: 13px;
  margin-bottom: 10px;
}
.list-info {
  padding: 13px;
  width: 20%;
}
.list-info h3 {
  margin-bottom: 17px;
}
.list-logo li {
  display: flex;
  align-items: center;
}
.list-logo img {
  margin-right: 6px;
}
.list-info a {
  vertical-align: middle;
}
.info {
  display: flex;
  justify-content: space-around;
  padding: 32px 212px 0px 89px;
}
.info a {
  color: #ffffff;
  display: inline;
  margin: 0;
  text-decoration: none;
}
.copyright {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  height: 58px;
  font-family: "utm-avo";
  font-size: 13px;
  color: #ffffff;
  padding: 0px 180px 0px 180px;
}
.btn-addtocart {
  color: #fff;
  background-color: #212121;
  border-color: #212121;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn-addtocart:hover {
  color: #ffff00;
  transform: scale(1.1);
}
.width-100px {
  width: 100px;
}
.breadcrumb {
  padding: 20px 180px 50px 180px;
}
.breadcrumb a {
  color: black;
}
/*-------CartPage------*/
.table {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}
.table-striped tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
tr:nth-child(2n + 0) {
  background-color: rgba(0, 0, 0, 0.05);
}
.total {
  background-color: #8c8c8c;
}
