* {
  margin: 0;
  padding: 0;
}

.header-health{
  width: 100%;
}
.contact{
  display: flex;
  align-items: center;
  text-align: right;
  width: 20%;
}
.contact span{
  color:#4cc1fc;
}
.contact img{
  margin-right: 2%;
}
.head-logo{
  display: flex;
  border-bottom: solid 1px #b3b3b3;
  padding: 1% 10% 1% 10%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.logo img{
  margin-right: 2%; 
}
ul {
  margin: 0;
  padding: 0;
}

.header-navbar {
  overflow: hidden;
  list-style-type: none;
}
.header-navbar li {

  border-left: solid 1px #b3b3b3;
  float: left;
  margin: 0;
  }
  .header-navbar li:first-child{
    border: 0;
  }
li a {
  display: block;
  color:#b3b3b3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  

.head-nav{
  display: flex;
  align-items: center;
  padding: 0 10% 0 10%;
}
.head-nav nav{
  margin-right: auto;
}
header a:hover{
  color:#62c6f8;
}
.banner-relative{
  position: relative;
}
.banner-absolute{
  padding-left: 10%;
  position: absolute; 
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.banner img{
  width: 100%;
}

.banner a{
  text-decoration: none;
  color: #000000;
}
.container{
  padding:5% 10% 5% 10%;
}
.page-sidebar{
  float: left;
  width: 30%;
  margin-right: 2%
}
.copyright{
  padding: 0 5% 0 10%;
}
.copyright p:first-child{
  margin-right: auto;

}
.copyright span{
  color:#7df1cf;
}
.book-schedule form{
  text-align: center;
  padding: 5%;
  background-color: #d9e4e9;
}
form input{
  margin: 2% 0 2% 0;
  height: 2.5em;
  width: 90%;
  border: 0;
}
input[type="date"] {
  position: relative;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  }
  
  input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f073';
  position: absolute;
  top: 10px;
  right: 6px;
  color: #999;
  }
form button{
  margin-top:2%;
  width: 8em;
  height: 3em;
  background-color: green;
  border: 0;
  color:white
}
.list-content{
  display:flex;
  flex-wrap: wrap;
  width: 68%;
}
.content{
  width: 31%;
  margin-right: 2%;
  border: solid 1px #d9d9d9;
  margin-bottom: 2%;
  box-sizing: border-box;
}
.content_item{
  width: 80%;
  margin: auto;
}
img[src="./img/muiten.jpg"]{
  float: right;
}
.img-100{
  width: 100%;
}
/*-----aside-----*/
.listbox{
  background-color: #d9e4e9;
  height: 3em;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding-left: 2%;
}
.list-item ul{
  list-style-position: inside;
  padding-left: 5%;
}
.list-item li{
  margin-bottom: 5%;
}
.list-item li a{
  display: inline;
}
.list-item a{ 
  text-align: left;
  color:#000000;
}
/* footer */
.footer{
  padding:2% 0 0 0;
  background-color: #62c6f8;
  color: white;
}

.list-info ul{
  list-style-position: inside;
}
.list-info ul li{
  display: flex;
  align-items: center;
}
.list-info a{
  vertical-align: middle;
}
.info{
  display: flex;
  justify-content: space-around;
}
.info a{
  color: white;
  display: inline;
  margin: 0;
  text-decoration: none;
}
.copyright{
  border-top: 1px solid white;
  color:white;
  display: flex;
  align-items: center;
  height: 3em;
} 

.title{
  width: 18em;
}