* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: $primary;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-top: 30px;
  text-align: center;
  font-size: $lg;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: solid 3px $primary;
  margin-bottom: $sm;
}

h3 {
  text-align: center;
  font-size: $lg;
  padding-bottom: $sm;
}

.tab {
  display: none;
}

.clr:after {
  content: "";
  clear: both;
  display: block;
}
