$primary: #56baed;
$secondary:#5fbae9;
$light1: #f6f6f6;
$light2 :#bbbbbb;
$white: #ffffff;
$black: #000000;
$grey: #cccccc;
$dark: #0d0d0d;
$success: #28a745;
$invalid: #dc3545;
$color: #aeb;
/*------font-size-----*/
$sm: 0.75rem;
$md: 1rem;
$lg: 1.5rem