.group-btn {
  overflow: auto;
  margin-top: 5px;
  .group-btn-item {
    float: right;
  }
}
.btn {
  background-color: $primary;
  width: 110px;
  border: none;
  color: $white;
  padding: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: $sm;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.btn-prev {
  background-color: $light2;
}

.btn-link {
  background: 0;
  font-weight: 400;
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
