.form {
  position: relative;
  border-radius: 10px;
  background: $white;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);

  input {
    background-color: $light1;
    border: none;
    color: $dark;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: $md;
    margin: 1em 0;
    width: 100%;
    border: 2px solid $light1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;

    &:focus {
      background-color: $white;
      border-bottom: 2px solid $secondary;
    }

    &:placeholder {
      color: $grey;
    }
  }

  .phone {
    @extend %space-between;

    span {
      padding: 0 5px
    }

    .phone-item {
      width: 30%;
    }
  }

  .code {
    @extend %space-around;

    .code-item {
      width: 35%;

      div {
        display: none;
      }
    }
  }

  //this code just fix bug innerHTML at validate function in tab 2

  .fa {
    padding: 0 5px;
  }

  .success {
    font-style: italic;
    font-size: $xs;
    color: $success;
  }

  .invalid-text {
    font-style: italic;
    font-size: $xs;
    color: $invalid;
  }
}