input {
  background-color: $light1;
  border: none;
  color: $dark;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $md;
  margin: 1em 0;
  width: 100%;
  border: 2px solid $light1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input:focus {
  background-color: $white;
  border-bottom: 2px solid $secondary;
}

input:placeholder {
  color: $grey;
}