.form-step {
  @extend %content-center;
  margin-bottom: 1rem;

  span {
    height: 2px;
    width: 80px;
    background-color: $primary;
    &.line-success{
      background-color: $success;
    }
  }
}

.step {
  @extend %content-center;
  height: 3rem;
  width: 3rem;
  line-height: 1.4rem;
  padding: 0.35rem;
  background-color: $secondary;
  border: none;
  border-radius: 50%;
  opacity: 0.5;

  &.active {
    opacity: 1;
  }

  &.finish {
    background-color: $white;
    color: $success;
    border: solid $success 2px;
    opacity: 1;
  }
}
