.form-step {
  @extend %content-center;
  margin-bottom: 1rem;
}

.step {
  @extend %content-center;
  height: 2rem;
  width: 2rem;
  line-height: 1.4rem;
  margin: 0 5px;
  padding: 0.35rem;
  background-color: $secondary;
  border: none;
  border-radius: 50%;
  opacity: 0.5;

  &.active {
    opacity: 1;
  }

  &.finish {
    opacity: 1;
  }
}
