@for $i from 1 to 10 {
  p:nth-child(#{$i}) {
    text-shadow: makelongshadow(adjust-hue($color, $i * 30));
    animation: showup 5s infinite $i * 0.20s;
  }
}
.thank {
  display: none;
  position: relative;
  height: 100vh;
  text-align: center;
  .heart {
    color: $white;
    position: fixed;
    animation: heart 5s linear infinite;
    margin-left: -30px;
    /* optical correction */
  }
  
  .text {
    margin-left: -30px;
    /* optical correction */
    p {
      margin-top: 30vh;
      width: 40px;
      display: inline-block;
      font-weight: 900;
      color: $white;
    }
  } 
}
