.was-validated {
  background-color: $white;
  border-color: $success;
  &:focus {
    background-color: $white;
    border-color: $success;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }
}

.invalid {
  border-color: $invalid;
  &:focus {
    border-color: $invalid;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
}

.phone-item div {
  text-align: left;
  font-size: $sm;
}
