.footer {
  padding: 2% 0 0 0;
  background-color: $primary;
  color: $white;
}

.list-info {
  ul {
    list-style-position: inside;

    li {
      @extend %flex-item;
    }
  }
  a {
    vertical-align: middle;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  a {
    color: $white;
    margin: 0;
    text-decoration: none;
  }
}

.copyright {
  @extend %flex-item;
  padding: 0 5% 0 10%;
  border-top: 1px solid $white;
  color: $white;
  height: 3em;
  p {
    &:first-child {
      margin-right: auto;
    }
  }
  span {
    color: $light-green;
  }
}
