@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Roboto:900|Russo+One');



.text {
  margin-left: -30px;
  /* optical correction */
}

p {
  margin-top: 50vh;
  width: 45px;
  display: inline-block;
  font-size: 0px;
  font-family: 'Russo One';
  font-weight: 900;
  color: #fff;
}

@for $i from 1 to 10 {
  p:nth-child(#{$i}) {
    text-shadow: makelongshadow(adjust-hue($color, $i * 30));
    animation: showup 5s infinite $i * 0.20s;
  }
}

@keyframes showup {
  0% {
    font-size: 0px;
    transform: rotate(90deg);
  }

  5% {
    font-size: 60px;

  }

  10% {
    font-size: 66px;
    transform: rotate(0deg);
  }

  60% {
    font-size: 66px;
    opacity: 1;
  }

  71% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    font-size: 66px;
    transform: rotate(0deg);
  }
}